:root{
    --ancho-card:260px;
}


/*----------------------------------------------------------
    RESET
----------------------------------------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*----------------------------------------------------------
    BODY
----------------------------------------------------------*/

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f2f2f2;

}


/*----------------------------------------------------------
    HEADER
----------------------------------------------------------*/

header{

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    display: flex;

    gap: 10px;

    padding: 15px;

    background: white;

    border-bottom: 1px solid #ccc;

    z-index: 1000;

}

header_OLD_BORRAR{

    position:sticky;

    top:0;

    display:flex;

    gap:10px;

    padding:15px;

    background:white;

    border-bottom:1px solid #cccccc;

    z-index:100;

}


header button{

    padding:8px 14px;

    cursor:pointer;

}


/*----------------------------------------------------------
    GRID
----------------------------------------------------------*/

.galeria{

    display:grid;

/*    grid-template-columns:
        repeat(auto-fit,minmax(520px,1fr));  */
grid-template-columns:
    repeat(auto-fit,minmax(var(--ancho-card),1fr));

    gap:20px;

    /* padding:20px; */
    padding:90px 20px 20px 20px;

}


/*----------------------------------------------------------
    CARD
----------------------------------------------------------*/

.card{

    background:white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 2px 8px rgba(0,0,0,.15);

}


/*----------------------------------------------------------
    FOTO
----------------------------------------------------------*/

.card > img{

    display:block;

    width:100%;

    height:350px;

    object-fit:cover;

}


/*----------------------------------------------------------
    TEXTO
----------------------------------------------------------*/

.card p{

    padding:15px;

    line-height:1.5;

    min-height:55px;

}

/*----------------------------------------------------------
    MODAL
----------------------------------------------------------*/

#modal{

    display:none;

    position:fixed;

    /* inset:0; */

    /* background:rgba(0,0,0,.90); */
    background: orange;

    justify-content:center;

    align-items:center;

    /* z-index:1000; */
    z-index:9999;

    top:0;
    left:0;

    width:100vw;
    height:100vh;

}


#modal.abierto{

    display:flex;

}


#imagenModal{

/*    width:auto;

    height:auto;

    max-width:95vw;

    max-height:95vh; 

    object-fit:contain;  */

    display:block;

    max-width:95%;

    max-height:90%;

    object-fit:contain;

}


#cerrar{

    position:absolute;

    top:20px;

    right:30px;

    color:white;

    font-size:42px;

    cursor:pointer;

    user-select:none;

}